<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Code Editor</string>
    <key>CFBundleDisplayName</key>
    <string>Code Editor</string>
    <key>CFBundleIdentifier</key>
    <string>com.serik.code-editor</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>code-editor-launcher</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>rs</string>
                <string>py</string>
                <string>js</string>
                <string>ts</string>
                <string>tsx</string>
                <string>jsx</string>
                <string>html</string>
                <string>css</string>
                <string>json</string>
                <string>toml</string>
                <string>yaml</string>
                <string>yml</string>
                <string>md</string>
                <string>txt</string>
                <string>sh</string>
                <string>go</string>
                <string>java</string>
                <string>c</string>
                <string>cpp</string>
                <string>h</string>
                <string>php</string>
                <string>rb</string>
                <string>swift</string>
                <string>kt</string>
                <string>xml</string>
                <string>sql</string>
                <string>env</string>
                <string>gitignore</string>
                <string>dockerfile</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Source Code</string>
        </dict>
    </array>
</dict>
</plist>
